{% extends '_base_sidebar.html' %}
{% load staticfiles %}

{% block headers %}
	{{ block.super }}

	<link rel="stylesheet" type="text/css" href="{% static 'css/visualizer.css' %}">

	<script type="text/javascript" src="{% static 'js/ace-editor/ace.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.jsPlumb-1.6.4-min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/visualizer.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lesson.js' %}"></script>

	<script type="text/javascript">
		var lesson_name = '{{ lesson.urlname }}';
	</script>
{% endblock %}

{% block sidebar %}
	{{ block.super }}
	<ul class="nav nav-sidebar">
		{% for l in lesson.course.lessons.all %}
			<li{% if lesson == l %} class="active"{% endif %}>
				<a href="{% url 'lesson' l.urlname %}">{{ l.order_num }}. {{ l.title }}</a>
				{% if l == lesson %}
					{% block navbar_active_lesson %}{% endblock %}
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block content %}
	{{ block.super }}

	{% block lesson_body %}
	{% endblock %}

	{% block disqus %}
		{% include 'includes/disqus.html' %}
	{% endblock %}
{% endblock %}
