{% extends '_base.html' %}

{% load markup %}
{% load staticfiles %}

{% block headers %}
	{{ block.super }}

	<link rel="stylesheet" href="{{ STATIC_URL }}edu-python-title.css">
{% endblock %}

{% block container %}
	<center>
		<div class="titlePane">
			<h1>Интерактивный учебник языка Python</h1>
			<h2>Запускайте программы прямо в своём браузере</h2>
		</div>

		<div class="mainBodyPane">
			{% for course in courses %}
				<div class="activityPane" id="solvePane">
					<h1>{{ course.title }}</h1><br>
					{% if course.description %}
						<div class="courseDescription">{{ course.description|markdown }}</div>
					{% endif %}

					{% for lesson in course.lessons.all %}
						<p>Занятие {{ lesson.order_num }}. <a href="{% url 'lesson' lesson.urlname %}">{{ lesson.title }}</a></p>
					{% endfor %}
				</div>
			{% endfor %}

			<div class="activityPane" id="learnPane">
				<h1>Изучайте Python</h1>
				<h2>пишите код и смотрите на то, как он выполняется</h2>

				<p>Например, для этого кода:</p>

				<pre>x = ["Alice", "Bob", "Charlie"]
y = x
z = ["Alice", "Bob", "Charlie"]</pre>

				<p>будет сгенерировано вот такое представление, которое демонстрирует, что два имени <code>x</code> и <code>y</code> ссылаются на один и тот же список, а <code>z</code>&nbsp;&#151; на другой.</p>

				<center>
					<img src="{% static 'alias-screenshot.png' %}" style="width: 500px;" />
					<h3><a href="{% url 'visualizer' %}">Перейти к онлайн-интерпретатору Python!</a></h3>
				</center>
			</div>
		</div>
	</center>
{% endblock %}
